.dropbtn {
    width: 60px;
    height: 100%;
    background-color: darkslateblue;
    background-image: url("menu.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    padding: 20px;
    cursor: pointer;
}
  
.dropbtn:hover, .dropbtn:focus {
    background-color: darkmagenta;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    height: 100%;
    text-transform: uppercase;
    text-decoration: none;
    color: yellowgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    z-index: 1000;
    transition: all 0.5s ease-in-out;
}

.dropdown-content a {
    color: yellowgreen;
    padding: 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #222
}

.dropdown-content ul li{
    line-height: 60px;
    list-style: none;
}

.show {
    display: block;
}

.blauw {
    background-color: blue;
}

.geel {
    background-color: yellow;
}

.groen {
    background-color: green;
}

.rood {
    background-color: red;
}

